.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a, p {
  font-family: 'Lato', sans-serif;
  font-size: 12px;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 4rem;
  color: #F3EFE0;
  font-kerning: normal;
  filter: drop-shadow(0 0 2px #262322);
  text-shadow: 0px 0px 1rem #262322;
}

h2 {
  font-family: 'Playfair Display', serif;
  font-size: 1rem;
  color: #917F71;
}

div.container {
  width: 1200px;
  padding-top: 5px;
}

div#home-container {
  height: 500px;
  background-image: url('images/alfons-morales-PyUXxFrYweY-unsplash.jpg');
  background-color: #262322;
  background-size: 155%;
  border-radius: 5px;
  background-blend-mode: screen;
  background-position-y: top;
}

div#home-column {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#home-header {
  font-size: 4rem;
}

#home-para {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  /* font-weight: bold; */
  color: #F3EFE0;
  filter: none;
  filter: drop-shadow(0 0 2px #262322);
  text-shadow: 0px 0px 1rem #262322;
  backdrop-filter: blur(2rem);
  padding:10px 15px 10px 15px;
}

.card-container {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr 3fr;
  align-items: center;
  justify-content: center;
}

div.card {
  display: inline-block;
  border:none;
  border-radius: 5px;
  box-shadow: 0 2px 10px 0 #917F71;
  transition: .5s ease-out;
}

div.card:hover {
  box-shadow: 0 2px 15px 0 #917F71;
}

div.row.nav-container {
  display: flex;
  align-items: center;
  margin-top: 0%;
  margin-bottom: 0%;
}

.navigation-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar.navbar-expand-lg.navbar-light {
  display: flex;
  justify-content: flex-end;
}

.navbar-expand-lg.navbar-collapse {
  display: flex;
  justify-content: flex-end;
}

#basic-navbar-nav.navbar-collapse.collapse {
  display: flex;
  justify-content: flex-end;
}

a.nav-link {
  text-decoration: none;
}

.home-link {
  text-decoration: none;
}

a.link {
  text-decoration: none;
}

input {
  margin: .5rem;
}

button.btn {
  margin: .5rem;
}

.search-container {
  height: 250px;
  background-image: url('images/alfons-morales-PyUXxFrYweY-unsplash.jpg');
  background-color: #262322;
  background-size: 155%;
  border-radius: 5px;
  background-blend-mode: screen;
  background-position-y: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.search-header {
  display: flex;
  justify-content: center;
  align-self: center;
}

#search-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

label {
  margin-top: 10px;
  margin-bottom: 10px;
}

#user_search_input {
  width: 65%;
  border: none;
  border-radius: 5px;
  padding-left: +5px;
  padding-right: +5px;
}

.search-selects, #search_criteria {
  display: flex;
  justify-content: space-evenly;
  border: none;
  border-radius: 5px;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

div.card {
  width: 15rem;
  height: 20rem;
  margin: 1rem;
  padding: 1rem;
  border-width: 1px;
}

.card-img-top {
  width:100%;
  height: 20vh;
  object-fit: contain;
  margin-bottom: 1rem;
}

div.card-title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

div.card-subtitle {
  margin-bottom: .5rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

p.card-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

div.card-group {
  display:flex;
  align-items: flex-start;
}

div.row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

div.toolbar {
  background-color: #917F71;
  border-radius: 5px;
  border:none;
  color:#F3EFE0;
  font-weight:bold;
}

div.toolbar-right-col {
  display: flex;
  justify-content: flex-end;
}

#select_shelf {
  border: none;
  border-radius: 5px;
  margin-left: .5rem;
}

button#select_shelf {
  margin-left: 0%;
}

div.review-container {
  overflow-y: auto;
  height: 500px;
}

.bookshelf-container.card-group{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 24rem;
  overflow-x: auto;
}

.bookshelf-card {
  display: inline-block;
}

#empty-shelf {
  display: flex;
  height: 24rem;
  justify-content: center;
  align-items: center;
}

div#cover-container {
  flex-grow:1;
  overflow:hidden;
  background-repeat: no-repeat;
  background-position:center top;
  background-size:contain;
}

#cover-row {
  overflow:hidden;
  display:flex;
  flex-direction: row;
  align-items: flex-start;
}