.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card-container {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr 3fr;
  align-items: center;
  justify-content: center;
}

div.card {
  display: inline-block;
}

div.row.nav-container {
  display: flex;
  align-items: center;
}

.navigation-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar.navbar-expand-lg.navbar-light {
  display: flex;
  justify-content: flex-end;
}

.navbar-expand-lg.navbar-collapse {
  display: flex;
  justify-content: flex-end;
}

#basic-navbar-nav.navbar-collapse.collapse {
  display: flex;
  justify-content: flex-end;
}

a.nav-link {
  text-decoration: none;
}

a.link {
  text-decoration: none;
}

.search-container {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.search-header {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

#search-row {
  display: flex;
  align-items: center;
}

label {
  margin: 10px;
}

#user_search_input {
  width: 100%;
}

#search-submit {
  display: flex;
  justify-content: flex-end;
}

div.card {
  width: 15rem;
  height: 20rem;
  margin: 1rem;
  padding: 1rem;
  border-width: 1px;
}

.card-img-top {
  width:100%;
  height: 20vh;
  object-fit: contain;
  margin-bottom: 1rem;
}

div.card-title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

div.card-subtitle {
  margin-bottom: .5rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

p.card-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

div.card-group {
  display:flex;
  align-items: flex-start;
}

div.row {
  display: flex;
  justify-content: center;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

div.toolbar-right-col {
  display: flex;
  justify-content: flex-end;
}

select#select_shelf {
  margin-right: .5rem;
}

div.review-container {
  overflow-y: auto;
  height: 500px;
  margin-bottom: 2rem;
}

.bookshelf-container.card-group{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 24rem;
  overflow-x: auto;
}

.bookshelf-card {
  display: inline-block;
}

a#empty-shelf {
  display: flex;
  height: 300px;
  justify-content: center;
  align-items: center;
}