.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html {
  overflow-y:scroll;
}

p {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  color: #262322c8;
  text-decoration: none;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 4rem;
  color: #FFF6ED;
  font-kerning: normal;
  filter: drop-shadow(0 0 2px #262322);
  text-shadow: 0px 0px 1rem #262322;
}

h2 {
  font-family: 'Playfair Display', serif;
  font-size: 1rem;
  color: #917F71;
}

h3 {
  color: #262322;
}

.container {
  width: 1200px;
}

#home-container {
  height: 500px;
  border-radius: 5px;
  background-image: url('images/alfons-morales-PyUXxFrYweY-unsplash.jpg');
  background-color: #262322;
  background-size: 155%;
  background-blend-mode: screen;
  background-position-y: top;
}

#home-column {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#home-header {
  font-size: 48px;
}

#home-para {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  /* font-weight: bold; */
  color: #FFF6ED;
  filter: none;
  filter: drop-shadow(0 0 2px #262322);
  text-shadow: 0px 0px 1rem #262322;
  backdrop-filter: blur(2rem);
  padding:10px 15px 10px 15px;
}

.card-container {
  /* display: grid; */
  /* grid-template-columns: 3fr 3fr 3fr 3fr; */
  align-items: center;
  justify-content: center;
}

.card {
  display: inline-block;
  border:none;
  border-radius: 5px;
  box-shadow: 0 2px 10px 0 #8d7868;
  transition: .5s ease-out;
}

.card:hover {
  box-shadow: 0 2px 15px 0 #8d7868;
}

.row.nav_row {
  display: flex;
  align-items: center;
}

.nav_container {
  height:fit-content;
}

.header-nav {
  display: flex;
  justify-content: flex-end;
}

.nav-link {
  text-decoration: none;
}

.home-link {
  text-decoration: none;
}

.link {
  text-decoration: none;
  margin-left: .5rem;
}

.card_link {
  text-decoration: none;
  color:#262322;
}

input {
  margin-left: .5rem;
  margin-right: .5rem;
  border-radius: 5px;
  background-color: white;
  border: none;
}

.search-container {
  height: 250px;
  border-radius: 5px;
  background-image: url('images/alfons-morales-PyUXxFrYweY-unsplash.jpg');
  background-color: #262322;
  background-size: 155%;
  background-blend-mode: screen;
  background-position-y: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.search-header {
  display: flex;
  justify-content: center;
  align-self: center;
}

.search-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

label {
  margin-top: 10px;
  margin-bottom: 10px;
  color:#262322;
}

#user_search_input {
  width: 65%;
  border: none;
  background-color: #FFF6ED;
  border-radius: 5px;
  padding-left: +5px;
  padding-right: +5px;
}

.search-selects {
  display: flex;
  justify-content: space-evenly;
  border: none;
  border-radius: 5px;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

#search_criteria {
  background-color: #FFF6ED;
  border-radius: 5px;
  padding-left: +5px;
  padding-right: +5px;
  border: none;
}

#search_submit {
  background-color: #FFF6ED;
  border-radius: 5px;
  padding-left: +5px;
  padding-right: +5px;
  border: none;
}

.card {
  width: 15rem;
  height: 20rem;
  margin: 1rem;
  padding: 1rem;
  border-width: 1px;
}

.card-img-top {
  width:100%;
  height: 20vh;
  object-fit: contain;
  margin-bottom: 1rem;
}

.card-title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.card-subtitle {
  margin-bottom: .5rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.card-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.card-group {
  display:flex;
  align-items: flex-start;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.toolbar {
  border:none;
  color:#262322;
  height: auto;
  background-color: #F1E9DD;
  border-radius: 5px;
}

.toolbar_text {
  margin: .5%;
}

.current-read {
  background-color: #F1E9DD;
  border-radius: 5px;
}

.border_decor {
  border-left: 4mm ridge #4e7be3a0;
}

.toolbar-right-col {
  display: flex;
  justify-content: flex-end;
}

.details {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.details_right p {
  font-size: 16px;
}

.details_right h2 {
  color: #262322;
}

.details_left {
  display: flex;
  justify-content: center;
  padding: .5rem;
}

.book_icon {
  width: 150px;
  height: auto;
  filter: drop-shadow(2px 2px 2px #26232253);
}

.cover_shadow {
  filter: drop-shadow(2px 2px 2px #26232253);
}

.toolbar_button {
  border: none;
  border-radius: 5px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-right: .5rem;
  background-color: #8d7868;
  color:#FFF6ED;
  font-family: 'Lato' sans-serif;
}

.toolbar_button:hover {
  background-color: #75665b;
  color:#FFF6ED;
}

button.toolbar_button {
  border: none;
  border-radius: 5px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-right: .5rem;
  background-color: #8d7868;
  color:#FFF6ED;
  margin-top: 10px;
  margin-bottom: 10px;
}

button.toolbar_button:hover {
  background-color: #75665b;
}

button.modal_button {
  border: none;
  border-radius: 5px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-right: .5rem;
  background-color: #8d7868;
  color:#FFF6ED;
  margin-top: 10px;
  margin-bottom: 10px;
}

button.modal_button:hover {
  background-color: #75665b;
}

input.modal_input {
  border-radius: 5px;
  background-color: #7C9ACF;
  color: white;
  border: none;
  accent-color: #7C9ACF;
}

.modal_text_input {
  width: 100%;
}

input.modal_input:hover {
  background-color: #586f97;
}

input#checkbox {
  margin-left: .5rem;
  accent-color: #7C9ACF;
}

.review_text_input {
  width: 100%;
}

#select_shelf {
  margin-left: .5rem;
  padding-left: .5rem;
  padding-bottom: 1px;
  padding-top: 1px;
  margin-top: 10px;
  margin-bottom: 10px;
}

option:hover {
  box-shadow: 0 0 10px 100px #594d45 inset;
}

.review-container {
  overflow-y: auto;
  height: 500px;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.review-container::-webkit-scrollbar {
  width: 12px;
}

.review-container::-webkit-scrollbar-track {
  background:#ccdfff;
  border-radius: 20px;
}

.review-container::-webkit-scrollbar-thumb {
  background-color: #7C9ACF;
  border-radius: 20px;
  border: 2px #ccdfff;
}

.align-header {
  display: flex;
  align-items: center;
}

.bookshelf-container {
  height: 24rem;
  margin-bottom: 1rem;
}

.bookshelf-container::-webkit-scrollbar {
  height: 12px;
}

.bookshelf-container::-webkit-scrollbar-track {
  background:#ccdfff;
  border-radius: 20px;
}

.bookshelf-container::-webkit-scrollbar-thumb {
  background-color: #7C9ACF;
  border-radius: 20px;
  border: 2px #ccdfff;
}

.bookshelf-container.card-group{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  align-items: center;
}

.bookshelf-card {
  display: inline-block;
  height: 24rem;
}

.empty-shelf {
  display: flex;
  height: 24rem;
  justify-content: center;
  align-items: center;
}

#cover-container {
  flex-grow:1;
  overflow:hidden;
  background-repeat: no-repeat;
  background-position:center top;
  background-size:contain;
}

.cover-row {
  overflow:hidden;
  display:flex;
  flex-direction: row;
  align-items: flex-start;
}

#number_input {
  margin-left: .5rem;
}

.review {
  border-bottom-width: thin;
  border-color: #7C9ACF;
  border-bottom-style: dotted;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.login_container {
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #F1E9DD;
}

.login_row {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.login_input {
  margin: .5rem;
  font-family: 'Lato', sans-serif;
}

form {
  font-family: 'Lato', sans-serif;
}